<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <client>
      <endpoint
          address="net.tcp://localhost:8009/HotelService"
          binding="netTcpBinding"
          contract="Hotel.Contracts.IHotelService" />
      <endpoint
          address="net.tcp://localhost:8000/Logger"
          binding="netTcpBinding"
          contract="Hotel.Logger.Contracts.ILoggerService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="20000000"></binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>